{{ define "tpl_events" }}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stk Trade - Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div>
    <p class="lead">
        Stock Events
    </p>
    {{ range . }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead"> <i class="fa fa-caret-square-o-right"></i> {{ .Tkr }} - {{ .Tkr_date }}</span>
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Close :{{ .Close }} | Seq :{{ .Seq }} | Stock Id :{{ .Stk_id }} | Event type : {{ .Event_type }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span><a href="/chart?tkr={{.Tkr}}&seq={{.Seq}}&drange=30&Stk_id={{.Stk_id}}&Tkr_date={{.Tkr_date}}&close={{.Close}}" target="_blank">Show chart</a></span>
        </div>
    </div>
    {{ end }}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

{{ end }}

